
i.fa.fa-times{
    color: red;
}
#page-wrapper{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
#header-row{
    background-color: rgba(39, 163, 200, 1);
    float: left;
    width: 100%;
    color: white;
}
#header-row ul{
    margin: 0px;

}
#header{
    padding-left: 0px;
}
#header ul{
    margin: 0px;
    margin-top: 22px;
}
#header-right{
    background-color: rgba(0, 153, 255, 1);
}
#header-right h2{
    font-size: 13px;
    font-weight: bold;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 19px;
}
#header-right li a{
    margin-bottom: 5px;

    color: white;
    font-size: 12px;
    line-height: 1.2em;
}
#header li{
    background-color: transparent;


}
#header li.active-trail{
    background-color: rgba(255, 255, 255, 1);
}
#header li a{
    border: 0px solid #b7d5f3;
    color: white;
    font-weight: bold;
    padding: 0.75em 1em;
    text-decoration: none;
}
#header li a.active{
    border: 0px solid #b7d5f3;
    color: black;
    font-weight: bold;
    padding: 0.75em 1em;
}
#page{
    float: left;
    background-color: rgba(242, 242, 242, 1);
}
.breadcrumb {
    float: left;
    width: 100%;
    padding: 8px 15px;
    margin-bottom: 0px;
    list-style: none;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
}
#content{
    background-color: rgba(242, 242, 242, 1);
}
#right-sidebar{
    background-color: transparent;
    margin-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
}
#right-sidebar .block{
    padding: 10px;
    background-color: rgba(215, 215, 215, 1);
}
#right-sidebar .block h2{
    font-size: 18px;
    margin: 0px;
    margin-top: -15px;
    padding: 5px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(172, 172, 172);
    margin-left: -10px;
    margin-right: -10px;
}
#messages{
    float: left;
    width: 100%;
}
.form-type-radios,
.form-type-checkboxes {
    float: left;
    width: 100%;
}
.form-type-radi,
.form-type-checkbox {
    float: left;

}
.form-radios,
.form-checkboxes{
    float: left;
    width: 100%;
}
.form-type-radio label,
.form-type-checkbox label{
    margin:4px;
    padding: 0px 4px;
    background-color: white;
    border-radius:4px;
    border:1px solid grey;

    float:left;
}
.form-type-radio label:hover,
.form-type-checkbox label:hover {
    background:rgba(22, 155, 213, 1);
}
.form-type-radio input,
.form-type-checkbox input{
    display: none;
}
.form-type-radio input:checked + label,
.form-type-checkbox input:checked + label {
    background-color:rgba(22, 155, 213, 1);
    color:#fff;
    border: 1px solid rgba(22, 155, 213, 1);
}
.szurok .form-item
{
    margin: 0px;
}

.vertical-tabs{
    float: left;
    width: calc(100% - 15em);
}
input.pipalva + label{
    position: relative;
    top: 0px;
    left: 0px;
}
.szurok{
    font-size: 14px;
    float: left;
}
.field-group-fieldset{
    float: left;
    width: 100%;
}
.fieldset-title{
    float: left;
}
.fieldset-legend{
    float: left;
    width: 100%;
}
.fieldset-wrapper{
    float: left;
    width: 100%;
}
legend{
    float: left;
    margin-bottom: 0px;
}
fieldset.collapsed{
    height: auto!important;
}

fieldset.field-group-fieldset{
    background-color: rgb(170, 170, 170);
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}
fieldset.main-group{
    background-color: transparent;
    border: 1px solid black!important;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
}
fieldset.main-group .fieldset-title {
    font-size: 18px;
    color: black;
    width: auto;
}
.fieldset-title {
    font-size: 14px;
    color: white;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 5px;
    width: 80px;
}
fieldset .field-type-entityreference label{
    display: none;
}

fieldset .field-type-entityreference .form-item .form-item label{
    display: block;
}
legend{
    border-bottom: 0px;
}
.field-type-field-collection{
    width: 100%;
    background-color: transparent;
    border: 1px solid black!important;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
}
.field-type-field-collection tbody tr{
    border: 1px solid black;
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    float: left;
}

.field-type-field-collection tbody tr tr{
    border: 0px solid black;
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    float: left;
}
.field-type-field-collection tbody tr td .ajax-new-content,
.field-type-field-collection tbody tr td{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.field-type-field-collection tbody tr td .form-submit{
    margin-top: 1.7em;
    margin-left: 5px;
}
.field-type-field-collection tbody tr td input{
    margin-left: 5px;
}
.field-name-field-name-subpart{
    width: 390px;
}
.field-name-field-name-subpart input{
    width: 95%;
}
.tree {
    min-height:20px;
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
}
.tree li {
    list-style-type:none;
    margin:0;
    background-color: rgba(100,100,100,0.3);
    position:relative;
    border:0px solid #999;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}
.tree li li li {
    list-style-type:none;
    margin:0;
    margin-bottom: 5px;
    position:relative;


    padding: 5px;
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {

    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {

    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}

.tree ul{

    border-radius:5px;
    padding: 5px;
}

.tree  ul{

    border-radius:0px;
    padding: 5px;
}
#block-system-main,
.block-facetapi,
ul.facetapi-facetapi-links{
    width: 100%;
    float: left;
}
ul.facetapi-facetapi-links li{
    float: left;
    list-style: none;
}

ul.facetapi-facetapi-links li.facetapi-inactive{
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    padding: 0px 5px;
    float: left;
}
ul.facetapi-facetapi-links li.facetapi-active{

    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    padding: 0px 5px;
    float: left;

    background-color: rgba(22, 155, 213, 1);
    color: #fff;
    border: 1px solid rgba(22, 155, 213, 1);
}
tr .field-type-field-collection {
    width: 100%;
    background-color: transparent;
    border: 0px solid black!important;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
}
tr .field-type-field-collection tbody tr {
    border: 0px solid black;
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    float: left;
}
.field-widget-field-collection-embed{
    width: 100%;
    background-color: transparent;
    border: 0px solid black!important;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
}
tr .field-name-field-part{
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid black!important;
    width:100%;
}
a.tabledrag-handle .handle {

    height: 40px;
    margin: -0.4em 0.5em;
    padding: 0.42em 0.5em;
    width: 40px;
}
form .field-multiple-table td.field-multiple-drag{
    float: left;
}

.well {
    background-image: none;

    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.block-facetapi h2{
    float: left;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
}
.block-facetapi ul{
    margin: 0px;
}
.block-facetapi .content{
    float: left;
    margin-top: 8px;
}
.block-facetapi{
    background-color: rgba(201, 201, 201, 1);
    border-radius: 5px;
    margin-bottom: 10px;
}
.cimke{
    padding: 5px 10px;
    width: 116px;
    margin-right: 10px;
    float: left;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(100,100,100,0.3);
}
.view-header{
    width: 100%;
    float: left;

}
.view-header .harmas-cimke{
    padding: 5px;
}
.view-header{
    padding-left: 20px;
}
.tree .view-header{
    padding-left: 0px;
}
.view-header .cimke{
    margin-left: 0px;
}
.tree .view-header .cimke{
    margin: 0px;
}
.entityreference-dragdrop-label{
    position: absolute;
    right: -275px;
    width: 275px;
    margin: 0px;
    margin-top: -35px;
    padding: 5px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(172, 172, 172);
    margin-left: -10px;


    font-size: 18px;
    z-index: 999;
}
.entityreference-dragdrop-label2{

    margin: 0px;
    margin-top: 20px;
    padding: 5px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(172, 172, 172);
    margin-left: 0px;


    font-size: 18px;
    z-index: 999;
}
.entityreference-dragdrop-container-available{
    position: absolute;
    margin-top: 0px;
    right: -275px;
    width: 275px;
    height: 320px;
    padding: 10px;
    background-color: rgba(215, 215, 215, 1);
}
.form-wrapper ul.entityreference-dragdrop {
    list-style-type: none;
    display: inline-block;
    background: #eee;
    width: 100%;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0 10px 0 0;
    border: 1px solid gray;
}
input[name='search']{
    width: 100%;
}

.add_new{
    font-size: 18px;
    color: white;
    border-radius: 5px;
    background-color: rgba(39, 163, 200, 1);
    padding: 5px 10px;
    margin-left: -20px;
    text-decoration: none;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
}
.reset_button:hover,
.add_new:hover{
    color: #383838;
    text-decoration: none;
    background-color: rgb(46, 211, 255);
}
.reset_button{
    font-size: 18px;
    color: white;
    border-radius: 5px;
    background-color: rgba(39, 163, 200, 1);
    padding: 5px 10px;
    margin-right: 15px;
    text-decoration: none;
    margin-bottom: 10px;
    position: absolute;
    right: 0px;
    margin-top: -6px;
}
#footer{
    float: left;
    padding: 15px;
    width: 100%;
    background-color: rgba(39, 163, 200, 1);
}
#filter_select{
    width: 100%;
    margin-top: 10px;
}
.control-icons{
    float: right;
    margin-top: 8px;
    margin-right: 0px;
    width: 116px;
    text-align: center;
}
.harmas-cimke{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
li li.parent_li li{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
li li.parent_li li span{
    width: 116px;
    text-align: center;
    padding: 5px 10px;
}
li li.parent_li li span:nth-child(2){
    min-width: 116px;
    max-width: 300px;
    width: auto;
    text-align: center;
    padding: 5px 10px;
}
.form-wrapper ul.entityreference-dragdrop {
    height: 300px;
    width: 100%;
}
.entityreference-dragdrop-container-selected {
    display: inline-block;
    width: 100%;
}
.form-wrapper ul.entityreference-dragdrop-available {
    height: 208px;
}
.chosen-container{
    width: 100%!important;
}
.chosen-container .chosen-results li.active-result {
    display: list-item!important;
    cursor: pointer;
}
table .field-item{
    display: inline-block;
    margin-right: 5px;

}
td.field-content .field{
    margin-left: 10px;
}
table.field-group-format{
    width: 100%;
}
#edit-field-files-und-ajax-wrapper > fieldset > legend > span,
#field-date-add-more-wrapper > fieldset > legend > span,
.date-combo label{
    display: none;
}
div.entityreference-dragdrop-widget-wrapper > div.entityreference-dragdrop-container-selected.selected ul{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
}
div.entityreference-dragdrop-widget-wrapper > div.entityreference-dragdrop-container-selected ul{
    cursor: pointer;
}
label.option{
    cursor: pointer;
}
#references-dialog-page .entityreference-dragdrop-container-selected{
    width: 50%;
}

#references-dialog-page .entityreference-dragdrop-container-available {
    position: relative;
    float: right;
    top: 0px;
    right: 0px;
    width: calc(50% - 15px);
    height: 300px;
    margin-top: 20px;
    display: block!important;
}
#references-dialog-page .form-wrapper ul.entityreference-dragdrop-available {
    height: 188px;
}
iframe.references-dialog-iframe{
    width: 100%!important;
}
.block-facetapi .content {
    float: left;
    margin-top: 8px;
    width: 100%;
}

.field-multiple-table,
.field-multiple-table input.form-autocomplete[type="text"]{
    width: 100%;
}
ul.facetapi-facetapi-links li.facetapi-inactive {

    background-color: white;
    border-radius: 4px;
    border: 1px solid grey;
    color: black;
    text-decoration: none;

}
ul.facetapi-facetapi-links li.facetapi-inactive a{
    color: black;
}
ul.facetapi-facetapi-links li.facetapi-inactive a:hover{
    color: black;
    text-decoration: none;
}
ul.facetapi-facetapi-links li.facetapi-inactive:hover {
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    padding: 0px 5px;
    float: left;
    background-color: rgba(22, 155, 213, 1);
    color: #fff;
    text-decoration: none;
    border: 1px solid grey;
    cursor: pointer;
}
.draggable label{
    display: block;
}
ul.entityreference-dragdrop li{
    font-size: 14px;
}
.ui-dialog .ui-dialog-titlebar-close{
    background-image: url(/sites/all/themes/adminimal_theme/css/images/x-white.png);
}
table.forum-table{
    width: 100%;
}
.field-name-comment-body p{
    text-align: justify;
}
.field-name-comment-body p.rtecenter {
    text-align: center;
}
a i{
    color: black;
}
i{
    color: grey;
}
#block-ajax-facets-ajax-facets-block{
    float: left;
}
.harmas{
    float: left;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    cursor: pointer;
}
.harmas span{
    min-width: 120px;
    max-width: 300px;
    width: auto;
    text-align: center;
    padding: 5px 10px;
}
.harmas .control-icons{
    margin-right: -4px;
}
.parent_li{
    float: left;
    width: 100%;
}