.webform-grid .radio, .webform-grid .checkbox {
    display: table-cell;
    text-align: center;
    width: 142px;
}
.webform-grid .radio input[type="radio"],
.webform-grid .radio-inline input[type="radio"],
.webform-grid .checkbox input[type="checkbox"],
.webform-grid .checkbox-inline input[type="checkbox"] {
    float: none;
    margin: 0 ;
    display: block;
}
.webform-component-grid .form-item{

}
.webform-component-grid input{
    display: block!important;
        margin: 0 auto!important;



}
.region-content .block{
    float: left;
    width: 100%;
}
.field-type-datetime{
    float: left;
    width: 100%;
}
.webform-grid-question{
    width: 50%;
}

tr.draggable td {
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
}

tr.draggable td:first-child {
    padding-left:10px;
    padding-right:0;
}
tr.draggable td div:nth-child(3){
    float: left;
    width: 100%;
}
a i.fa.fa-times{
    color: red;
}
#page-wrapper{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
#header-row{
    background-color: rgba(39, 163, 200, 1);
    float: left;
    width: 100%;
    color: white;
}
#block-system-main > .content > .node{
    margin-top: 55px;
}
#header-row ul{
    margin: 0px;

}
#header{
    padding-left: 0px;
}
#header ul{
    margin: 0px;
    margin-top: 25px;
}
#header-right{
    background-color: rgba(0, 153, 255, 1);
}
#header-right h2{
    font-size: 13px;
    font-weight: bold;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 19px;
}
#header-right li a{
    margin-bottom: 5px;

    color: white;
    font-size: 12px;
    line-height: 1.2em;
}
#header li{
    background-color: transparent;


}
#header li.active-trail{
    background-color: rgba(255, 255, 255, 1);
}
#header li a{
    border: 0px solid #b7d5f3;
    color: white;
    font-weight: bold;
    padding: 0.75em 1em;
    text-decoration: none;
}
#header li a.active{
    border: 0px solid #b7d5f3;
    color: black;
    font-weight: bold;
    padding: 0.75em 1em;
}
#page{
    float: left;
    background-color: rgba(242, 242, 242, 1);
}
.breadcrumb {
    float: left;
    width: 100%;
    padding: 8px 15px;
    margin-bottom: 0px;
    list-style: none;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
}
#content{
    background-color: rgba(242, 242, 242, 1);
}
#right-sidebar{
    background-color: transparent;
    margin-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
    float: right;
}
#block-block-3{
    margin-top: 15px;
    float:left;
    width: 100%;
}
#right-sidebar .block{
    padding: 10px;
    background-color: rgba(215, 215, 215, 1);
}
#right-sidebar .block h2{
    font-size: 18px;
    margin: 0px;
    margin-top: -15px;
    padding: 5px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(174, 174, 174, 1);
    margin-left: -10px;
    margin-right: -10px;
}
#messages{
    float: left;
    width: 100%;
}
.form-type-radios,
.form-type-checkboxes {
    float: left;
    width: 100%;
}
.form-type-radi,
.form-type-checkbox {
    float: left;

}
.form-radios,
.form-checkboxes{
    float: left;
    width: 100%;
}
.form-type-radio label,
.form-type-checkbox label{
    margin:4px;
    padding: 0px 4px;
    background-color: white;
    border-radius:4px;
    border:1px solid grey;

    float:left;
}
.form-type-radio label:hover,
.form-type-checkbox label:hover {
    background:rgba(22, 155, 213, 1);
}
.form-type-radio input,
.form-type-checkbox input{
    display: none;
}
.form-type-radio input:checked + label,
.form-type-checkbox input:checked + label {
    background-color:rgba(22, 155, 213, 1);
    color:#fff;
    border: 1px solid rgba(22, 155, 213, 1);
}
.szurok .form-item
{
    margin: 0px;
}

.vertical-tabs{
    float: left;
    width: calc(100% - 15em);
}
input.pipalva + label{
    position: relative;
    top: 0px;
    left: 0px;
}
.szurok{
    font-size: 14px;
    float: left;
}
.field-group-fieldset{
    float: left;
    width: 100%;
}
.fieldset-title{
    float: left;
}
.fieldset-legend{
    float: left;
    width: 100%;
}
.fieldset-wrapper{
    float: left;
    width: 100%;
}
legend{
    float: left;
    margin-bottom: 0px;
}
fieldset.collapsed{
    height: auto!important;
}

fieldset.field-group-fieldset{
    background-color: rgb(170, 170, 170);
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;

}
fieldset.main-group{
    background-color: transparent;
    border: 1px solid black!important;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
}
fieldset.main-group .fieldset-title {
    font-size: 18px;
    color: black;
    width: auto;
}
.fieldset-title {
    font-size: 14px;
    color: white;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 5px;
    width: 120px;
}
.field-group-format-wrapper .field-group-format-wrapper h3{
    float: left;
    width: 100%;

}
.field-group-format-wrapper h3 span{
    float: left;
}


fieldset .field-type-entityreference .form-item .form-item label{
    display: block;
}
.field-name-field-theme-add .field-item{
    width: 100%;
}
.field-name-field-theme-add .field-item .field.field-name-field-lesson-addd{
    width: 100%;
}
.vertical-tabs-panes .field-type-entityreference {
    float: left;
    width: auto;
}
.vertical-tabs-panes .field-type-entityreference .field-items{
    isplay: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: space-around;
    align-content: space-around;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid black;
    height: calc(100% - 21px);
}
.vertical-tabs-panes{

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.vertical-tabs-panes .field-type-entityreference .field-label {

    margin: 0px;
    min-width: 100px;
    padding-right: 5px;
    padding-left: 5px;
    border-bottom: 1px solid black;
}
.field-multiple-drag .node{
    float: left;
    width: 100%;
}
fieldset fieldset{
    background-color: rgba(218,218,218,1);
    min-height: 55px;
    border-radius: 5px;
}
#curriculum-node-form > div > fieldset > legend > span > a
{
    margin-bottom: 10px;
}
#curriculum-node-form > div > fieldset{
    border: 2px solid rgba(218,218,218,1)!important;
    border-radius: 5px;
    padding: 10px;
    background:transparent;
}
#curriculum-node-form > div > fieldset > legend{
    background: transparent;
    display: none;
}
legend{
    border-bottom: 0px;
    position: relative;

    float: left;
    width: 100%;
}
.field-type-entityreference{
    float: left;
    width: 100%;
}
.field-type-field-collection{
    width: 100%;
    background-color: transparent;
    border: 1px solid black!important;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
}
.field-type-field-collection tbody tr{
    border: 1px solid black;
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    float: left;
}
div.collapsible{
    float: left;
    width: 100%;
}
.ui-dialog{
    width: 100%!important;
    height: 100%!important;
    top: 0!important;
    left: 0!important;
}
.ui-dialog iframe{
    height: 100% !important;
}
#curriculum-node-form > div > div.collapsible.required-fields.speed-fast.effect-none.fieldgroup-effects-processed{
    padding: 10px;
    border: 2px solid rgba(218,218,218,1)!important;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.field-group-format-wrapper{
    float: left;
    width: 100%;

}
.required-fields .collapsible h3 span a:before {
    content:"\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: 10px;
    margin-left: -10px;
    font-size: 30px;
    margin-top: -8px;
    float: left;
    height: 10px;
}
.required-fields .collapsed h3 span a:before {
    content: "\f0da";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: 10px;
    margin-left: -10px;
    font-size: 30px;
    margin-top: -8px;
    float: left;
    height: 10px;

}
.field-group-format-wrapper .collapsible{
    padding: 5px 10px;
    background-color: rgba(218,218,218,1);
    margin-top: 10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.field-group-format-wrapper .collapsible .form-type-checkboxes > label{
    display: none;
}
.field-group-format-wrapper h3 a,
.field-group-format-wrapper h3{
    float: left;
    width: 100%;
    font-size: 14px;
    color: black;
    text-decoration: none;
    margin: 0px;
    padding: 5px 10px;
}
.collapsible h3{
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
.field-type-field-collection tbody tr tr{
    border: 0px solid black;
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    float: left;
}
.field-type-field-collection tbody tr td .ajax-new-content,
.field-type-field-collection tbody tr td{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.field-type-field-collection tbody tr td .form-submit{
    margin-top: 1.7em;
    margin-left: 5px;
}
.field-type-field-collection tbody tr td input{
    margin-left: 5px;
}
.field-name-field-name-subpart{
    width: 390px;
}
.field-name-field-name-subpart input{
    width: 95%;
}
.tree {
    min-height:20px;
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
}
.tree li {
    list-style-type:none;
    margin:0;
    background-color: rgba(100,100,100,0.3);
    position:relative;
    border:0px solid #999;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}
.tree li li li {
    list-style-type:none;
    margin:0;
    margin-bottom: 5px;
    position:relative;


    padding: 5px;
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {

    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {

    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;

    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer;
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0;
}
.tree li:last-child i.icon-folder-open::before {
    height:30px;
    content: "\f0da";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: 10px;
    margin-left: -10px;
    font-size: 30px;
    margin-top: -8px;
    float: left;
    height: 10px;
    margin-left: 0px;
    color: black;
}
#block-system-main > div > div.view-header{
    margin-left: 20px;
}
#block-system-main > div > div > ul > li > div{
    width: 106px;
}
.tree li:last-child i.icon-folder-open.icon-minus-sign::before {
    height:30px;
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: 10px;
    margin-left: -10px;
    font-size: 30px;
    margin-top: -8px;
    float: left;
    height: 10px;
    margin-left: -5px;
    margin-right: 8px;
    color: black;
}
.tree ul{

    border-radius:5px;
    padding: 5px;
}

.tree  ul{

    border-radius:0px;
    padding: 5px;
}
#block-system-main,
.block-facetapi,
ul.facetapi-facetapi-links{
    width: 100%;
    float: left;
}
ul.facetapi-facetapi-links li{
    float: left;
    list-style: none;
}

ul.facetapi-facetapi-links li.facetapi-inactive{
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    padding: 0px 5px;
    float: left;
}
ul.facetapi-facetapi-links li.facetapi-active{

    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    padding: 0px 5px;
    float: left;

    background-color: rgba(22, 155, 213, 1);
    color: #fff;
    border: 1px solid rgba(22, 155, 213, 1);
}
tr .field-type-field-collection {
    width: 100%;
    background-color: transparent;
    border: 0px solid black!important;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
}
tr .field-type-field-collection tbody tr {
    border: 0px solid black;
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    float: left;
}
.field-widget-field-collection-embed{
    width: 100%;
    background-color: transparent;
    border: 0px solid black!important;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 10px;
}
tr .field-name-field-part{
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid black!important;
    width:100%;
}
a.tabledrag-handle .handle {

    height: 40px;
    margin: -0.4em 0.5em;
    padding: 0.42em 0.5em;
    width: 40px;
}
form .field-multiple-table td.field-multiple-drag{
    float: left;
}

.well {
    background-image: none;

    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.block-facetapi h2{
    float: left;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
}
.block-facetapi ul{
    margin: 0px;
}
.block-facetapi .content{
    float: left;
    margin-top: 8px;
}
.block-facetapi{
    background-color: rgba(228, 228, 228, 1);
    border-radius: 5px;
    margin-top: 10px;
}
.cimke{
    padding: 2px 3px;
    width: 116px;
    margin-right: 10px;
    float: left;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(100,100,100,0.3);

}
#block-system-main > div > div.tree.well > ul > li > span .cimke{
    color: rgb(1, 107, 200);
}
.harmas span{
    color: rgb(1, 107, 200);
}
.view-header{
    width: 100%;
    float: left;

}
.view-header .harmas-cimke{
    padding: 5px;
}
.view-header{
    padding-left: 20px;
}
.tree .view-header{
    padding-left: 0px;
}
.view-header .cimke{
    margin-left: 0px;
}
.tree .view-header .cimke{
    margin: 0px;
}
.entityreference-dragdrop-label{
    float: left;
    width: 100%;
    padding: 10px;
    background-color: rgba(174, 174, 174, 1);
}
.entityreference-dragdrop-label2{

    margin: 0px;
    margin-top: 0px;
    padding: 5px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(174, 174, 174, 1);
    margin-left: 0px;


    font-size: 18px;
    z-index: 999;
}
.entityreference-dragdrop-container-available{
    position: absolute;
    margin-top: 0px;
    right: -275px;
    width: 275px;
    height: 320px;
    padding: 10px;
    background-color: rgba(215, 215, 215, 1);
}
.form-wrapper ul.entityreference-dragdrop {
    list-style-type: none;
    display: inline-block;
    background: #eee;
    width: 100%;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    margin: 0 10px 0 0;
    border: 1px solid gray;
}
input[name='search']{
    width: 100%;
}

.add_new{
    font-size: 12px;
    color: white;
    border-radius: 5px;
    background-color: rgba(39, 163, 200, 1);
    padding: 5px 10px;
    margin-left: 0px;
    text-decoration: none;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
}
.reset_button:hover,
.add_new:hover{
    color: #383838;
    text-decoration: none;
    background-color: rgb(46, 211, 255);
}
.reset_button{
    font-size: 12px;
    color: white;
    border-radius: 5px;
    background-color: rgba(39, 163, 200, 1);
    padding: 5px 10px;
    margin-right: 0px;
    text-decoration: none;
    margin-bottom: 10px;
    position: absolute;
    right: 0px;
    margin-top: 0px;
    height: 25px;
}
#footer{
    float: left;
    padding: 15px;
    width: 100%;
    background-color: rgba(39, 163, 200, 1);
}
#filter_select{
    width: 100%;
    margin-top: 10px;
}
.control-icons{
    float: right;
    margin-top: 5px;
    margin-right: 0px;
    width: 116px;
    text-align: center;
}
.harmas-cimke{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
li li.parent_li li{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
li li.parent_li li span{
    width: 116px;
    text-align: center;
    padding: 5px 10px;
}
li li.parent_li li span:nth-child(2){
    min-width: 116px;
    max-width: 300px;
    width: auto;
    text-align: center;
    padding: 5px 10px;
}
.form-wrapper ul.entityreference-dragdrop {
    height: 300px;
    width: 100%;
}
.entityreference-dragdrop-container-selected {
    display: inline-block;
    width: 100%;
}
.form-wrapper ul.entityreference-dragdrop-available {
    height: 208px;
}
.chosen-container{
    width: 100%!important;
}
.chosen-container .chosen-results li.active-result {
    display: list-item!important;
    cursor: pointer;
}
table .field-item{
    display: inline-block;
    margin-right: 5px;

}
td.field-content .field{
    margin-left: 10px;
}
table.field-group-format{
    width: 100%;
}

.date-combo span{
    font-size: 14px;
    font-weight: bold;
}

#edit-field-date-und-0-value > div > label{
    display: none;
}
div.entityreference-dragdrop-widget-wrapper > div.entityreference-dragdrop-container-selected.selected ul{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    box-shadow: 0 0 10px rgba(81, 203, 238, 1);
}
div.entityreference-dragdrop-widget-wrapper > div.entityreference-dragdrop-container-selected ul{
    cursor: pointer;
}
label.option{
    cursor: pointer;
}
#references-dialog-page .entityreference-dragdrop-container-selected{
    width: 50%;
}

#references-dialog-page .entityreference-dragdrop-container-available {
    position: relative;
    float: right;
    top: 0px;
    right: 0px;
    width: calc(50% - 15px);
    height: 300px;
    margin-top: 20px;
    display: block!important;
}
#references-dialog-page .form-wrapper ul.entityreference-dragdrop-available {
    height: 188px;
}
iframe.references-dialog-iframe{
    width: 100%!important;
}
.block-facetapi .content {
    float: left;
    margin-top: 8px;
    width: 100%;
}

.field-multiple-table,
.field-multiple-table input.form-autocomplete[type="text"]{
    width: 100%;
}
ul.facetapi-facetapi-links li.facetapi-inactive {

    background-color: white;
    border-radius: 4px;
    border: 1px solid grey;
    color: black;
    text-decoration: none;

}
ul.facetapi-facetapi-links li.facetapi-inactive a{
    color: black;
}
ul.facetapi-facetapi-links li.facetapi-inactive a:hover{
    color: black;
    text-decoration: none;
}
ul.facetapi-facetapi-links li.facetapi-inactive:hover {
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    padding: 0px 5px;
    float: left;
    background-color: rgba(22, 155, 213, 1);
    color: #fff;
    text-decoration: none;
    border: 1px solid grey;
    cursor: pointer;
}
.draggable label{
    display: block;
}
ul.entityreference-dragdrop li{
    font-size: 14px;
}
.ui-dialog .ui-dialog-titlebar-close{
    background-image: url('/sites/all/themes/adminimal_theme/css/images/x-white.png');
}
table.forum-table{
    width: 100%;
}
.field-name-comment-body p{
    text-align: justify;
}
.field-name-comment-body p.rtecenter {
    text-align: center;
}
a i{
    color: black;
}
i{
    color: grey;
}
#block-ajax-facets-ajax-facets-block{
    float: left;
}
.harmas{
    float: left;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    cursor: pointer;
}
.harmas span{
    min-width: 120px;
    max-width: 300px;
    width: auto;
    text-align: center;
    padding: 5px 10px;
}
.harmas .control-icons{
    margin-right: -4px;
}
.parent_li{
    float: left;
    width: 100%;
}
.library-element .file a{
    display: none;
}
.hide{
    display: none!important;
}
.library-element{
    padding: 0px;
    width: 100%;
    background-color: rgba(215, 215, 215, 1);
    border-radius: 5px;
    margin-bottom: 15px;
    float:left;
    position: relative;
}
.library-element .title{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    background-color: rgba(174, 174, 174, 1);
    padding: 10px;
    padding-left: 10px;
    font-size: 18px;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
}
.library-element .created{
    float: left;
    width: 100%;
    text-align: center;
}
.library-element .author{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}
.library-body a{
    float: left;
    margin-right: 10px;
}
.library-body{
    padding: 10px;
    float: left;
    width: 80%;
    min-height: 130px;
    border-right: 2px solid white;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.file-types{
    padding: 10px;
    width: 100%;
    text-align: right;
    float: left;
    border-top: 2px solid white;
}
.file-types img{
    height: 20px;
}
.library-element .right-element{
    float: left;
    width: 20%;
    position: absolute;
    height: 100%;
    right: 0px;
    top: 30px;
}
.library-element .text{
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}
.library-body p{
    margin: 0px;
}
.library-element .tags{
    float: left;
    width: 100%;
    margin-top: auto;

}
.library-element .right-element .control-icons{
    width: 100%;
    position: absolute;
    bottom: 110px;
}
#filters{
    padding: 10px;
    margin: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(201, 201, 201, 1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: calc(75% - 20px);
}
.content:has(> .views-row){
    border-width: 2px;
    border-style: solid;
    border-color: rgba(201, 201, 201, 1);
    border-radius: 5px;
    padding: 10px;

}
#superfish-2 li#menu-2-2 a:before, #block-system-user-menu li.first a:before {
    font-size: 21px;
    color: #333333;
    content: "\f007";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: relative;
    z-index: inherit;
    padding-right: 10px;
    top: 3px;

}
#superfish-2 li#menu-15-2 a:before, #block-system-user-menu li.last a:before {
    font-size: 21px;
    color: #333333;
    content: "\f08b";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: relative;
    z-index: inherit;
    padding-right: 10px;
    top: 3px;

}
#superfish-2 li#menu-15-2, #block-system-user-menu li.last {
    float: right;
    margin-right: 10px;
    padding-right: 0px;
}
#header li.active-trail {
    background-color: rgba(242, 242, 242, 1);
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}
input {
    -background-color: rgba(242, 242, 242, 1);

    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 2px 5px;

    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    border: 1px solid rgba(201, 201, 201, 1);


}


.field-name-field-create-new-library-element {
    float: left;
    width: calc(100% + 290px);
    margin-right: 0px;
    padding-right: 10px;

}

.entityreference-dragdrop-container-available{

}
.entityreference-dragdrop-container-available.selected{
    display: block!important;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: 1s;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(startYposition);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(endYposition);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(startYposition);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(endYposition);
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
        -webkit-transform: translateY(startYposition);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(endYposition);
    }
}
*{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: visibility 0s, opacity 0.5s linear;
}
.region-sidebar-first{
    margin-top: 50px;
}
#block-system-main > .content > .node.node-promoted{
    margin-top: 40px;
}
#filters{
    margin-top: 55px;
}
.forum-node-create-links{
    margin-bottom: 10px;
}
.page-node-add .form-wrapper{

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    FLOAT:left;
    width: 100%;
    margin-top: 10px;
}
.page-node-add .form-wrapper.field-name-field-theme-link{
    padding: 10px;
    border: 2px solid rgba(218,218,218,1)!important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    FLOAT:left;
    width: 100%;
    margin-top: 10px;
}
tr.even, tr.odd {
    background-color: transparent;
    border-bottom: 0px solid #ccc;
    padding: 0.1em 0.6em;
}
th,tbody {
    border: 0px!important;
}
.field-multiple-table td .form-item,
.field-multiple-table td .dialog-links{
    float: left;
    width: 100%;
}
.references-dialog-links{
    float: left;
    margin: 0px;
    padding: 0px;
}
ul.references-dialog-links li a{
    font-size: 0px;
    float: left;
    background: none!important;
    margin: 0px;
    padding: 0px;
    margin-left: 15px;
}
.references-dialog-links a.add-dialog:before{
    content: "\f067";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 21px;
    color: black;
}
.references-dialog-links a.edit-dialog:before{
    content: "\f044";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 21px;
    color: black;
}
a:hover, a:focus {

    text-decoration: none;
}
.field-type-file tr td .form-submit{
    margin-top: 40px;
}
.field-type-file th{
    padding: 10px;
}
.field-type-file tr td{
    padding: 10px;
}
.field-type-file table{
    width: 100%;
}
.field-type-file tr{

    margin-top: 10px;
    border: 2px solid white;
}
.form-type-managed-file .form-submit{
    margin-top: 10px;
    margin-bottom: 10px;
}
.field-type-entityreference .field-label{
    margin-bottom: 3px;
    margin-top: 3px;
    min-width: 100px;
    margin-right: 10px;
}
.content .field{
    margin-bottom: 10px;
}
.field-type-entityreference .field-item{
    display: inline-block;
    padding: 2px 4px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius: 5px;
    background-color: rgba(22, 155, 213, 1);
    margin-left: 5px;
    color: white;
    margin-bottom: 3px;
    margin-top: 3px;
}
.field-name-field-part{
    border: 0px;
    float: left;
    width: 100%;
}
.field-name-field-part .entity{
    padding: 10px;
    border: 2px solid rgba(218,218,218,1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.field-type-field-collection > .field-items{
    width: 100%;
}
.field-type-field-collection .field-items .field .field-label{
    min-width: 100px;
}
.node > h2{
    font-size: 21px;
    color: black;
    margin-left: -15px;
    padding: 10px;

}
.tabledrag-toggle-weight-wrapper{
    display: none;
}
.field-widget-download-link-widget{
    display: none;
}
.library-body .item-list{
    float: left;

}
.library-body .item-list li{
    float: left;
    list-style: none;
    background-color: white;
    border-radius: 4px;
    border: 1px solid grey;
    color: black;
    text-decoration: none;

    padding: 0px 5px;
}
.download-link{
    float: left;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    position: absolute;
    bottom: 70px;
}
.download-link a{
    background-color: rgba(22, 155, 213, 1);
    color: #fff;
    border: 1px solid rgba(22, 155, 213, 1);
    text-transform: capitalize;
    font-weight: bold;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.form-actions input{
    margin-right: 10px;
}
.block-facetapi h2{
    cursor: pointer;
    margin-left: 20px;
    font-size: 14px;
}
#right-sidebar .block-facetapi h2{
    float: none;
}
#block-system-main .block-facetapi .content{
    display: none;
}
#block-system-main .block-facetapi h2:before {
    content: "\f0da";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: 10px;
    margin-left: -10px;
    font-size: 30px;
    margin-top: -8px;
    float: left;
    height: 10px;
}
#block-system-main .block-facetapi h2.open:before {
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-right: 10px;
    margin-left: -10px;
    font-size: 30px;
    margin-top: -8px;
    float: left;
    height: 10px;
}
.entityreference-dragdrop-container-available .chosen-container{
    display: none!important;
}
.harmas > .control-icons > i{
    margin-left: 5px;
}
#ief-entity-table-edit-field-insert-und-entities{
    width: 100%;
}
#edit-field-insert-und > legend{
    display: none;
}
.field-name-field-insert legend{
    display: none;
}
tr.ief-row-entity td{
    padding: 5px;
}
#edit-field-insert-und-actions{
    margin-bottom: 10px;
}
#edit-field-insert-und-form-actions input{
    margin: 5px;
}
.ief-form-bottom{
    padding: 10px;
    margin-bottom: 10px;
}
.field-name-field-theme-add .field-items .field-item{
    background-color: transparent;
    color: black;
}
.field-name-field-theme-add{
    border: 1px solid black;
    padding: 10px;
}
.field-multiple-drag .node{
    float: left;
    width: 100%;
}
.field-group-div{
    float: left;
    width: 100%;
}
.field-group-div.group-lesson,
.group-temakor.field-group-div{
    padding: 10px;
    border: 2px solid grey;
}
#edit-field-az-ra-didaktikai-feladatai > div.entityreference-dragdrop-widget-wrapper > div.entityreference-dragdrop-container-selected,
#edit-field-az-ra-didaktikai-feladatai > div.entityreference-dragdrop-label
{
    display: none;
}
#edit-field-az-ra-didaktikai-szoveges,
#edit-field-az-ra-didaktikai-feladatai{
    width: 50%;
    float: left;
}
#edit-field-az-ra-didaktikai-feladatai > div.entityreference-dragdrop-widget-wrapper > div.entityreference-dragdrop-container-available.vegzett{
    width: calc(100% - 15px);
}
#edit-field-az-ra-didaktikai-szoveges-und-0-value{
    height: 272px;
}
.views-table{
    width: 100%;
}
thead tr th{
    text-align: center;
}
tbody tr{
 padding: 5px;
}
tbody tr.odd{
 background-color: rgba(228, 228, 228, 1);
}
tbody tr.even{

}
#block-views-strategic-plans-block tbody td,
#block-views-processes-block tbody td{
    text-align: center;
}